<app-cli-header header-text="Angular2 Demo Anwendung"></app-cli-header>
<div class="container">
    <div class="row centered">
        <div class="col-md-4">
            <i class="fa fa-code"></i>
            <h4>Angular 2</h4>
            <p>Entwickelt mit Angular 2. Projektstruktur und Build-System auf Basis von angular-cli</p>
            <p><br/><a href="https://github.com/angular/angular-cli" class="btn btn-theme" target="new">More Info</a></p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-cloud"></i>
            <h4>Services</h4>
            <p>Demo für den Zugriff auf Webservices, in diesem Fall ein Java EE Backend.</p>
            <p><br/><a [routerLink]="['/service']" class="btn btn-theme">More Info</a></p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-pencil-square-o"></i>
            <h4>Formulare, Validierung</h4>
            <p>Demo für die Verarbeitung und die Validierung von Formularen.</p>
            <p><br/><a [routerLink]="['/forms']" class="btn btn-theme">More Info</a></p>
        </div>                         
    </div>
</div>