
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">angular2cli.</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a bind-routerLink="['/home']">HOME</a></li>
                <li><a bind-routerLink="['/service']">SERVICES</a></li>
                <li><a bind-routerLink="['/forms', 'ALFAA']">FORMULARS</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div id="service">
    <router-outlet></router-outlet>
</div>


<!-- *****************************************************************************************************************
 FOOTER
 ***************************************************************************************************************** -->
<footer id="footerwrap">
    <div class="col-md-4 col-md-offset-4">
        <h4>by GEDOPLAN</h4>
        <div class="hline-w"></div>
    </div>
</footer><! --/footerwrap -->